---
import MainHeader from '../components/MainHeader.astro';
import ProjectBoxImage from '../components/ProjectBoxImage.astro';
import FilmoProjectorIcon from '../components/FilmoProjectorIcon.astro';
import SeveranceComputerIcon from '../components/SeveranceComputerIcon.astro';
import ZenithRemoteIcon from '../components/ZenithRemoteIcon.astro';
import WebsterTeletalkIcon from '../components/WebsterTeletalkIcon.astro';

import '../styles/global.css';

interface Props {
	projectTitle: string;
	projectURL: string;
}

const project1 = "Filmo Projector";
const project1url = "/filmoprojector";
const project2 = "Lumon Computer";
const project2url = "/severancecomputer";
const project3 = "Coming Soon!";
const project3url = "/comingsoon";

---

<head>
	<title>Bebop Workshop</title>
	<meta charset="UTF-8">
	<meta name="description" content="Bebop Workshop - Home">
	<meta name="author" content="Henry Boyd">
	<link rel="canonical" href="https://www.bebopworkshop.com/">
	<meta name="robots" content="index, follow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/public/favicon.svg" type="image/x-icon">
<head/>

<svg class="lightbulbsvg" width="200" height="375" viewBox="0 0 206 375" fill="none" xmlns="http://www.w3.org/2000/svg">
	<g class="entire-lightbulb-with-light-lines" id="EntireLightbulb">
		<g class="bulb-no-light-lines" id="Lightbulb">
			<g id="entire-chain" class="entire-chain">
				<g id="visible-chain" class="visible-chain">
					<circle id="Ellipse 28" cx="123" cy="270" r="5" fill="black"/>
					<circle id="Ellipse 26" cx="123" cy="246" r="5" fill="black"/>
					<circle id="Ellipse 27" cx="123" cy="258" r="5" fill="black"/>
					<circle id="Ellipse 29" cx="123" cy="282" r="5" fill="black"/>
					<circle id="Ellipse 30" cx="123" cy="306" r="5" fill="black"/>
					<circle id="Ellipse 32" cx="123" cy="318" r="5" fill="black"/>
					<circle id="Ellipse 33" cx="123" cy="330" r="5" fill="black"/>
					<circle id="Ellipse 31" cx="123" cy="294" r="5" fill="black"/>
					<path class="end-of-chain" id="Rectangle 18" d="M118 342C118 339.239 120.239 337 123 337V337C125.761 337 128 339.239 128 342V357H118V342Z" fill="black"/>
				</g>
				<g id="covered-chain" class="covered-chain">
					<circle id="Ellipse 34" cx="123" cy="222" r="5" fill="black"/>
					<circle id="Ellipse 35" cx="123" cy="234" r="5" fill="black"/>
				</g>
			</g>
			<g class="entire-bulb" id="Lightbulb_2">
				<g class="bulb-base" id="base">
					<g class="rounded-bottom" id="Rectangle 9" filter="url(#filter0_d_308_54)">
						<path d="M90 237H118V238C118 245.732 111.732 252 104 252V252C96.268 252 90 245.732 90 238V237Z" fill="white"/>
						<path class="rounded-bottom-semicircle" d="M104 250C97.7093 250 92.5492 245.16 92.0411 239H115.959C115.451 245.16 110.291 250 104 250Z" stroke="black" stroke-width="4"/>
					</g>
					<rect class="top-rectangle" id="Rectangle 5" x="73" y="205" width="60" height="11" rx="5.5" fill="white" stroke="black" stroke-width="4"/>
					<rect class="middle-rectangle" id="Rectangle 6" x="75" y="216" width="56" height="11" rx="5.5" fill="white" stroke="black" stroke-width="4"/>
					<rect class="bottom-rectangle" id="Rectangle 7" x="77" y="228" width="52" height="11" rx="5.5" fill="white" stroke="black" stroke-width="4"/>
				</g>
				<g id="Bulb" class="bulb">
					<g id="Vector" filter="url(#filter1_d_308_54)">
						<path id="bulb-fill" d="M132 203H74C74 203 70.4164 187.532 68 178C65.2664 167.217 57.4272 153.977 52.2733 146.028C50.6641 143.94 49.1809 141.749 47.8352 139.468C42.221 129.949 39 118.851 39 107C39 71.6538 67.6538 43 103 43C138.346 43 167 71.6538 167 107C167 118.851 163.779 129.949 158.165 139.468C156.819 141.749 155.336 143.94 153.727 146.028C148.573 153.977 140.734 167.217 138 178C135.584 187.532 132 203 132 203Z" fill="none"/>
						<path d="M151.821 145.292C146.665 153.277 138.843 166.534 136.061 177.509C134.849 182.291 133.346 188.553 132.148 193.613C131.548 196.145 131.024 198.378 130.65 199.979C130.562 200.356 130.482 200.698 130.412 201H75.5882C75.5177 200.698 75.4379 200.356 75.3498 199.979C74.9758 198.378 74.4518 196.145 73.8523 193.613C72.654 188.553 71.1509 182.291 69.9387 177.509C67.1565 166.534 59.3349 153.277 54.1788 145.292L54.2131 145.265C54.1105 145.134 54.0084 145.003 53.9067 144.871C51.8558 141.711 50.2306 139.386 49.5151 138.379C44.1039 129.176 41 118.454 41 107C41 72.7583 68.7583 45 103 45C137.242 45 165 72.7583 165 107C165 118.454 161.896 129.176 156.485 138.379C155.769 139.386 154.144 141.711 152.093 144.871C151.992 145.003 151.89 145.134 151.787 145.265L151.821 145.292Z" stroke="black" stroke-width="4"/>
					</g>
				</g>
				<path id="Line48" d="M107.5 201.5C107.5 201.5 107.26 187.864 108 179.5C109.92 157.788 125.5 126.5 125.5 126.5" stroke="black" stroke-width="4"/>
				<path id="Line49" d="M98.4629 201.5C98.4629 201.5 98.7026 187.864 97.963 179.5C96.0429 157.788 80.463 126.5 80.463 126.5" stroke="black" stroke-width="4"/>
				<line id="Line50" x1="83" y1="119" x2="123" y2="119" stroke="black" stroke-width="4"/>
			</g>
		</g>
	</g>
	<path id="lightbulb-arrow" class="lightbulb-arrow" d="M140 350L160 361.547V338.453L140 350ZM190 348H158V352H190V348Z" fill="black"/>
	<defs>
		<radialGradient id="grad1" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
			<stop offset="0%" stop-color="red" />
			<stop offset="100%" stop-color="#FFDE21" />
		</radialGradient>
		<filter id="filter0_d_308_54" x="86" y="237" width="36" height="23" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
		<feFlood flood-opacity="0" result="BackgroundImageFix"/>
		<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
		<feOffset dy="4"/>
		<feGaussianBlur stdDeviation="2"/>
		<feComposite in2="hardAlpha" operator="out"/>
		<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
		<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_308_54"/>
		<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_308_54" result="shape"/>
		</filter>
		<filter id="filter1_d_308_54" x="35" y="43" width="136" height="168" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
		<feFlood flood-opacity="0" result="BackgroundImageFix"/>
		<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
		<feOffset dy="4"/>
		<feGaussianBlur stdDeviation="2"/>
		<feComposite in2="hardAlpha" operator="out"/>
		<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
		<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_308_54"/>
		<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_308_54" result="shape"/>
		</filter>
	</defs>
</svg>

<div class="on-section" id="onSection">
	<MainHeader /> 
</div>
<div class="wiring-section">
	<main class="homepage-projects-grid">
		<FilmoProjectorIcon projectTitle = {project1} projectURL = {project1url} />
		<SeveranceComputerIcon projectTitle = {project2} projectURL = {project2url} />
		<ZenithRemoteIcon projectTitle = {project3} projectURL = {project3url} />
		<WebsterTeletalkIcon projectTitle = {project3} projectURL = {project3url} />
	</main>
</div>

<script type="text/Javascript">

    const entireBulb = document.querySelector(".lightbulbsvg");
    const bulb = entireBulb.querySelector(".bulb");
    const chain = entireBulb.querySelector(".entire-chain");
    const arrow = entireBulb.querySelector(".lightbulb-arrow");
	
	const onSection = document.querySelector('.on-section');
	const wiringSection = document.querySelector('.wiring-section');


    chain.addEventListener("click", function () {
        arrow.style.animation = "fadeOut .25s forwards";
        chain.style.animation = "chainUpDown .5s linear";
        bulb.style.animation = "bulbLight .5s forwards";

		onSection.style.animation = "fadeIn 2s both";
		wiringSection.style.animation = "fadeIn 2s both";

    });

</script>

<style>
	body {
		max-width: 1000px;
		display: grid;
		grid-template-columns: 1fr;
		margin-left: auto;
		margin-right: auto;
	} 

	.on-section, .wiring-section {
		opacity: 0%;
		animation-name: fadeIn;
	}

	.homepage-projects-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(275px, 300px));
		max-width: 800px;
		justify-content: center;
		justify-items: center;
		margin-left: auto;
		margin-right: auto;
		padding-top: 2rem;
		grid-gap: 40px;
	}

	.lightbulbsvg {
        position: absolute;
        z-index: 3;
    }

    .visible-chain > * {
        transform-origin: 50% 50%;
        transform-box: fill-box;
    }

    .bulb-base {
        z-index: 3;
    }

    .bulb {
        transform-origin: 50% 50%;
        transform-box: fill-box;
        animation-delay: .5s;
        fill: box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2); 
        filter: box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    }

    .covered-chain > * {
        transform-origin: 50% 50%;
        transform-box: fill-box;
        z-index: 2;
    }

    @media(max-width: 650px) {
		.on-section {
			display: block;
			opacity: 100%;
		}
		
		.lightbulbsvg {
                display: none;
        }

		.homepage-projects-grid {
		grid-template-columns: 1fr;
		padding-bottom: 2rem;
		}
    }

    @keyframes fadeOut {
        from {
            opacity: 100%;
        }
        to {
            opacity: 0%;
        }
    }

	@keyframes fadeIn {
        0%    { opacity: 0%; }
		50%   { opacity: 0%; }
        100%  { opacity: 100%; }
    }

    @keyframes chainUpDown {
        0%    { transform: translate(0, 0); }
        20%   { transform: translate(0, 16px); }
        40%   { transform: translate(0, 20px); }
        60%   { transform: translate(0, 24px); }
        80%   { transform: translate(0, 20px); }
        90%   { transform: translate(0, 16px); }
        100%  { transform: translate(0, 0); }
    }

    @keyframes bulbLight {
        0%    { fill-opacity: 0%; filter: drop-shadow( 0px -10px 2rem #FFDE21 ); fill: rgb(100% 85% 40%); }
        50%   { fill-opacity: 30%; filter: drop-shadow( 0px -10px 2rem #FFDE21 ); fill: rgb(100% 85% 40%); }
        100%  { fill-opacity: 60%; filter: drop-shadow( 0px -10px 2rem #FFDE21 ); fill: rgb(100% 85% 40%); }
    }

</style>